.plane-animation {
	padding: 150px 0px;
	overflow: hidden;
}

.plane-animation .icons {
	transform: scale(2);
	margin-top: 0px;
	margin-left: -120px;
	margin-bottom: 30px;
	animation-name: coloring;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

@keyframes coloring {
	0% { color: #4097d3; }
	50% { color: #233a7a; }
	100% { color: #4097d3; }
}

@keyframes plane {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.plane {
	margin-right: 2px;
	transform-origin: 40px;
	animation-name: plane;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	font-size: 18px;
}

.globe {
	position: absolute;
	margin-top: -6px;
	font-size: 30px;
	margin-left: 6px;
}